{% extends 'base.html.twig' %}

{% block body %}

<div>
    <h1>Word Density for {{ post.url }}</h1>

    <h6>Notes:</h6>
    <p>{{ post.notes }}</p>
  
     {% for word, count in wordCounts %}
        <li>{{ word }} - {{count }}</li>
    {% endfor %}
</div>

 <a href="{{ path('app_index') }}">Home</a>
{% endblock %}

{% block title %} This is the title {% endblock %}